.MapBox {
  position: fixed;
  z-index: -1;
}

.CustomMarker {
  position: absolute;
  background: #fff;

  background-color: #E7717D;
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  left: -0.8rem;
  top: -1.8rem;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
}

.CustomMarker:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
  width: 2rem;
  height: 2rem;
  left: -1rem;
  top: -2.2rem;
}

.CustomMarkerText {
  position: absolute;
  /* transform: rotate(-45deg); */
  color: #fff;
}
