.Places {
  display: flex;
  justify-content: space-between;
}

.MapButtons {
  margin: 1.6rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.MapBtn {
  margin-bottom: .8rem !important;
  background-color: #E7717D !important;
  color: white !important;
}