.Navigation {
  display: flex;
  justify-content: space-between;
}
.LeftNav li, .RightNav li {
  display: inline;
  margin-left: 5px;
  list-style-type: none;
}

ul {
  margin-right: 2rem;
}

.LeftNav li a:link, .RightNav li a:link {
  text-decoration: none;
}