@import "~react-image-gallery/styles/css/image-gallery.css";

.PlaceName {
  color:#E7717D;
}

.PlaceInfo {
  display: flex;
  justify-content: space-between;
}

.image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before,
  .image-gallery-left-nav::before,
  .image-gallery-right-nav::before {
    color: #E7717D;
    line-height: .7;
    text-shadow: 0 2px 2px #1a1a1a;
    transition: color .2s ease-out; 
  }
  
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before,
.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
  color: #fff; }
  @media (max-width: 768px) {
    .image-gallery-fullscreen-button:hover::before,
    .image-gallery-play-button:hover::before,
    .image-gallery-left-nav:hover::before,
    .image-gallery-right-nav:hover::before {
      color: #fff; } }

.image-gallery-thumbnail.active {
  border: 4px solid #E7717D; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail.active {
      border: 3px solid #E7717D; } }
